body{
    background:gray;
    }
    form label{
    display: block;
    font-size: 20px;
    }
    form input{
    display: block;
    font-size: 20px;
    } 
    td{
    background: white;
    border:3px solid;
    border-style: double;
    color:black;
    font-size:30px;
    }
